<!DOCTYPE html>
<html lang="eng">
    <head>
        <link rel="stylesheet" href="/static/stylesheet.css"/>
        <meta charset="utf-8"
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


    </head>

<body>

    <h1>showcase</h1>
<img src="{{ url_for('static', filename='coconut.png') }}" alt="coconut", class="coconut-img">
<img src="{{ url_for('static', filename='headache.png') }}" alt="headache", class="headache-img">
<img src="{{ url_for('static', filename='vibe.png') }}" alt="Vibe", class="vibe-img">
<img src="{{ url_for('static', filename='showcase.png') }}" alt="showcase", class="showcase-img">
<img src="{{ url_for('static', filename='modernlovesatire.png') }}" alt="modernlovesatire", class="modernlove-img">
<img src="{{ url_for('static', filename='brief.png') }}" alt="brief", class="brief-img">
</body>
